:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #40E0D0;  
  background: -webkit-linear-gradient(to right, #f755a6, #ff6161, #ef9526, #dfdf5c, #7bf99f, #40E0D0, #63b3f9);  
  background: linear-gradient(to right, #f755a6, #ff6161, #ef9526, #dfdf5c, #7bf99f, #40E0D0, #63b3f9); 
  height: 100vh;

}
