.loginForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    input {
        display: block;
        margin: 36px;
        height: 54px;
        width: 270px;

        font-size: 1.5rem;

        padding-left: 0.8rem;

        border-radius: 0.3rem;
    }
    button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        
        font-size: 1.5rem;

        height: 54px;
        width: 210px;

        border-radius: 0.3rem;

        background-color: #242424;

        transition: all 0.3s ease-in-out;
    }

    button:hover {
        height: 60px;
        width: 231px;

        border: solid 0.15rem #242424;

        color: #242424;
        background-color: #f2a2dc30;

        transition: all 0.3s ease-in;
        cursor: pointer;
    }

}